.profileContainer {
    background-color: #F9F9FA;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.profileBox {
    background-color: #FFFFFF;
    width: 413px;
    height: 408px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.profileTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 26.82px;
    margin-top: 27px;
}

.profileAvatarBox {
    position: relative;
    margin-top: 30px;
}

.profileAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.photoButton {
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
}

.profileNameBox {
    display: flex;
    align-items: end;
    justify-content: center;
    cursor: pointer;
}

.profileName {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 17px;
}

.profilePencil {
    margin-left: 5px;
}

.profileEmail {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-top: 14px;
}

.profileBox button {
    background-color: #FCFCFC;
    color: #000000;
    letter-spacing: 0.5px;
    width: 127px;
    height: 36px;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    margin-top: 17px;
}

.profileBox input {
    outline: none;
    margin-top: 17px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.inputBox {
    display: flex;
    width: 347px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
}

.inputBox button {
    background-color: #366EFF;
    width: 52px;
    height: 24px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 12px;
    cursor: pointer;
}