.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 395px;
}

.titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding: 18px 24px;
}

.titleBox h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.94px;
    margin: 0;
}

.titleBox img {
    cursor: pointer;
    width: 14px;
    height: 14px;
}



