.titleBox {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #D9D9D9;
}

.titleBox h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.94px;
    margin: 19px 0 0 24px;
}

.titleBox img {
    margin: 23px 24px 0 0;
    cursor: pointer;
    width: 14px;
    height: 14px;
}



