.tableHead {
    background: #EFEFEF;
}

.tablePackName {
    cursor: pointer;
}

.itemActions {
    display: flex;
    justify-content: space-around;
}

.itemActions button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.itemActions button[disabled] > .actionsIcon {
    cursor: not-allowed;
}

.actionsIcon {
    padding: 5px;
    width: 16px;
    height: 16px;
}

.actionsIcon:hover {
    border-radius: 50%;
    cursor: pointer;
    background: #666666;
    opacity: 0.3;
}

