.form {
    width: 395px;
    display: flex;
    flex-direction: column;
    padding: 35px 5%;
    box-sizing: border-box;
}

.form input {
    margin-bottom: 24px;
    border: none;
    border-bottom: 2px solid rgb(0 0 0 / 20%);
    font-weight: 500;
    font-size: 16px;
}

form input:focus-visible {
    outline: none;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.inputWrapper label{
    font-weight: 400;
    font-size: 13px;
}

.error {
    position: absolute;
    bottom: 0;
    left: 0.5rem;
}

.checkboxWrapper {
    align-self: flex-start;
}
.checkboxWrapper input {
    margin-bottom: 0;
}
.checkboxWrapper label {
    font-weight: 500;
    font-size: 14px;
}
.checkboxWrapper span {
    margin-top: 5px;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
}

.buttonCancel {
    width: 127px;
    height: 36px;
    border-radius: 18px;
    border: none;
    background: #FFFF;
    color: #000000;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    font-weight: 500;
    font-size: 16px;
}

.buttonSave {
    width: 127px;
    height: 36px;
    border-radius: 18px;
    border: none;
    background: #366EFF;
    color: white;
    box-shadow: 0 4px 18px 0 rgba(54, 110, 255, 0.35);
    font-weight: 500;
    font-size: 16px;
}